
.pinBoard {
    background-size: 40%;
    background-repeat: repeat;
    background-position: center;
    @apply
    h-full border-4 border-amber-900 rounded-2xl bg-board dark:bg-none dark:bg-white dark:border-gray-400
}


