.navbar {
    @apply
    flex flex-col sm:flex-row justify-between items-center
    items-center justify-around  gap-2
    text-white
    w-full
    px-4
    bg-primary
    shadow
    dark:shadow-md
    dark:bg-primary-dark

}

.navbarLeft {
    @apply
    flex items-center justify-start order-2 sm:order-1
    gap-4
    font-bold
}

.navbarRight {
    @apply
    flex items-center justify-end order-3
    gap-4
    font-bold
}

.navbarCenter {
    @apply
    flex items-center justify-center p-5 order-1 sm:order-2
}

.navButton {
    @apply
    flex items-center justify-center
    p-2
    rounded
    hover:bg-primary-light
    dark:hover:bg-secondary-night
    transform
    transition-all
    duration-200
    ease-in-out
}


