@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/base.css';
@import 'tailwindcss/utilities';

@layer components {

    .page{
        @apply background-light dark:background-dark relative h-screen
    }

    .page-content{
        @apply relative z-10 flex flex-col justify-center items-center h-full m-2
    }

    .header{
        @apply z-50 top-0 w-full color-primary shadow-red-50 shadow-md grid grid-cols-1 md:grid-cols-3 justify-center items-center text-blue-50 px-32 h-36 md:h-20
    }

    .footer{
        @apply absolute bottom-0 w-full flex justify-center items-center
    }

    .background-light {
        @apply bg-amber-100;
    }

    .background-dark {
        @apply bg-amber-800;
    }

    .color-primary {
        @apply bg-red-400;
    }

    .color-secondary {
        @apply bg-amber-100;
    }

    .btn-primary {
        @apply
        color-primary
        text-white
        font-bold
        py-2
        px-4
        rounded
        cursor-pointer
            disabled:opacity-50
        hover:bg-red-300
        hover:scale-110
        transition
        duration-150
        ease-in-out;
    }

    .board-grid {
        @apply
        justify-evenly
        justify-items-center
        align-middle
        items-center p-4
        gap-4
        grid
        grid-cols-[repeat(1,_minmax(250px,_1fr))]
        sm:grid-cols-[repeat(2,_minmax(250px,_1fr))]
        md:grid-cols-[repeat(3,_minmax(250px,_1fr))]
        lg:grid-cols-[repeat(4,_minmax(250px,_1fr))]
        xl:grid-cols-[repeat(5,_minmax(250px,_1fr))]
        grid-rows-[35-px_200px]
        md:grid-rows-[repeat(2,_minmax(300px,_1fr))]
    }
}

